<div class="container-fluid">
    <div class="row">
      <button type="button" (click)="logout()" style="max-width:fit-content;">Log Out</button>
        <div class="col-md-4 mt-5">
            <div class="card border-0 shadow p-3">
              <h5>Add A Book</h5>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingTitle" placeholder="Title" [(ngModel)]="query" (change)="fetchBook()">
                    <label for="floatingInput">Book</label>
                    <select #titles [(ngModel)]="selected" class="form-select" aria-label="Default select example">
                      <option *ngFor="let b of apiBooks" [ngValue]="b">{{b.volumeInfo.title}}</option>
                    </select>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="done">
                    <label class="form-check-label" for="flexCheckDefault">
                      Read
                    </label>
                  </div>
                  <button type="button" class="btn btn-primary" (click)="addBook()">Add</button>
            </div>
            
        </div>
        <div class="col-md-8 mt-5">
            <h5 class="text-danger">{{this.user}}'s Books</h5>
            <div class="card p-3">
                <div class="card-body">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Read</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let book of booksList">
                              <td (click)="getBookInfo(book)">{{book.title}}</td>
                              <td>{{book.author}}</td>
                              <td (click)="updateBook(book)">{{book.done}}</td>
                              <td><button type="button" class="btn btn-danger" (click)="deleteBook(book)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



